/*  Code for autosubmit using input and <ul> */
.input-wrapper{
    position:relative;    
    margin:50px 0 0 70px; /* for example positioning */
}
.dropdown{
    position:absolute;
}

/* old styles */
body {
font:0.8em Arial;
    }

.autosuggest, .dropdown, .result {
    margin:0;
    padding:0;
    border:0;
    width:250px;
}

.autosuggest {
  padding:4px;
  border:.5px solid #000;
  height:25px;

}

.result {
  width:260px;
  list-style:none;
}

.result li {
  padding:5px;
  border:.5px solid #000;
  border-top:0;
  cursor: pointer;
  background-color: white

}

.result li:hover {
  background:#333;
  color:#fff;
}

.plusHover{
  cursor: pointer;
}
.iconMinus{
  cursor: pointer;
  color:crimson;
}

/* End code for autosubmit using input and <ul */

.search {
  position: relative;
  /* color: #aaa; */
  /* font-size: 16px; */
}

/* .search input {
  width: 250px;
  height: 32px;

   background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset; 
} */

 .search input { text-indent: 32px;
width: 250px;
  height: 32px;} 
.search .fa-user { 
  position: absolute;
   top: 10px;
  left: 10px; 
}

