<!-- ////////////////// Using <ul> ///////////// -->
<div class="container is-fluid box">
  <div>
    <input #term (keyup)="getFoodItems(term.value, $event)" class="autosuggest" [(ngModel)]="foodItem" placeholder="Enter Food Item "
      type="text" />
    <div class="dropdown">
      <ul class="result">
        <li *ngFor="let item of items | async" (click)="onFoodItemSelect(item)">{{item.desc}}</li>
      </ul>
    </div>
  </div>
  <!-- <div class="search">
    <span class="fa fa-user"></span>
    <input placeholder="Search term">
  </div> -->
  <br/>
  <div>
    <table class="table">
      <thead>
        <th>Add</th>
        <th>Item</th>
        <th>Qty</th>
        <th> Protein (gm)</th>
        <th> Sat Fat (gm)</th>
        <th> Cholestrol (mg)</th>
        <th> Energy (kcal)</th>
        <th> Dietary Fiber (g)</th>
        <th> Sodium (mg)</th>
      </thead>
      <tr *ngIf="selectedItem">
        <td><i class="fa fa-plus plusHover" aria-hidden="true" (click)=onAdd()></i></td>
        <td>{{selectedItem.desc}}</td>
        <td>
          <!-- <p class="control">
            <span class="select is-small"> -->
          <select>
                <option>100 gm</option>
                <option>1 cup (227 gm)</option>
                <option>1 tbs (14 gm)</option>
              </select>
          <!-- </span>
          </p>  -->
        </td>
        <td>{{selectedItem.protein_g}}</td>
        <td>{{selectedItem.sat_fat_g}}</td>
        <td>{{selectedItem.cholestrl_mg}}</td>
        <td>{{selectedItem.energy_kcal}}</td>
        <td>{{selectedItem.fiber_dt}}</td>
        <td>{{selectedItem.sodium_mg}}</td>
      </tr>      
    </table>
  </div>
  <br/>
  <div>
    <table class="pure-table" *ngIf="addedItems">
      <thead>
        <th>#</th>
        <th>Item</th>
        <th>Qty</th>
        <th> Protein (gm)</th>
        <th> Sat Fat (gm)</th>
        <th> Cholestrol (mg)</th>
        <th> Energy (kcal)</th>
        <th> Dietary Fiber (g)</th>
        <th> Sodium (mg)</th>
      </thead>
      <tr *ngFor="let addItem of addedItems; let i=index">
        <td>{{i+1}}</td>
        <td>{{addItem.desc}}</td>
        <td>
          <!-- <p class="control">
            <span class="select is-small"> -->
          <select>
                <option>100 gm</option>
                <option>1 cup (227 gm)</option>
                <option>1 tbs (14 gm)</option>
              </select>
          <!-- </span>
          </p>  -->
        </td>
        <td>{{addItem.protein_g}}</td>
        <td>{{addItem.sat_fat_g}}</td>
        <td>{{addItem.cholestrl_mg}}</td>
        <td>{{addItem.energy_kcal}}</td>
        <td>{{addItem.fiber_dt}}</td>
        <td>{{addItem.sodium_mg}}</td>
      </tr>
      <tfoot style="background-color:darksalmon">
        <td>Total</td>
        <td></td>
        <td></td>
        <td>{{sumOfItems.protein_g.toFixed(2)}}</td>
        <td>{{sumOfItems.sat_fat_g.toFixed(3)}}</td>
        <td>{{sumOfItems.cholestrl_mg}}</td>
        <td>{{sumOfItems.energy_kcal}}</td>
        <td>{{sumOfItems.fiber_dt}}</td>
        <td>{{sumOfItems.sodium_mg}}</td> 
      </tfoot>
    </table>
  </div>

</div>

<!-- <section class="section">
  <h2 class="subtitle">
    Results
  </h2>
</section> -->


<!-- Using Data list, pretty slow and unpredictable results -->
<!--////////////////////////////////////////////////////////-->

<!--//////////// Layout style 1 /////////////// -->
<!--<div class="container is-fluid">
  <div class="columns">
    <div class="column is-11">
      <div class="field">
        <p class="control has-icons-left">
          <input #term (keyup)="getFoodItems(term.value, $event)" placeholder="Enter Food Item " type="text" list="mylist" class="input">
          <span class="icon is-medium is-left">
           <i class="fa fa-search"></i>
          </span>
          <datalist id="mylist">
            <option *ngFor="let item of items | async">{{item.shrt_desc}}</option>
          </datalist>
        </p>
        <div>
        </div>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
</div>-->

<!-- //////////////////// Layout style 2 ///////////////-->
<!--<div class="container is-fluid">
  <div class="columns">
    <div class="column is-11">
      <div class="field">
        <p class="control has-icons-left">
          <input #term (keyup)="getFoodItems(term.value, $event)" placeholder="Enter Food Item " type="text" list="mylist" class="input">
          <span class="icon is-medium is-left">
           <i class="fa fa-search"></i>
          </span>
          <datalist id="mylist">
            <option *ngFor="let item of items | async">{{item.desc}}</option>
          </datalist>
        </p>
      </div>
    </div>
    <div class="column">
      <a class="button is-outlined">Search</a>
    </div>
  </div>
</div>-->




<!--<div class="right">
      <button (click)="findPets()" class="btn-secondary"> Find Pets</button>
    </div>-->